$primary-app-color: #ff6600;
$primary-app-color-transparent: #ff6600d8;
$primary-app-color-hover: #ff3c00;
$primary-text-color: rgb(219, 211, 211);
$primary-text-color-hover: white;


$scrolled-nav-bg: white;
$scrolled-nav-link: black;